name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@1315761adf1a5a9f37d1f030953fa99db38f1e05 # v1.1.2

      - name: Run checks
        run: nix flake check
