name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@4c3c9543ce79b63946e8d805d3e5d9f6959477d0 # v1.1.1

      - name: Run checks
        run: nix flake check
