name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - id: init
        name: Initialize
        uses: spotdemo4/nix-init@main

      - id: cache
        name: Restore renovate check
        uses: spotdemo4/nix-nario-action/restore@4fcb9e563c05dc1d258086fee3122933bdab2292 # v0.12.2
        with:
          path: ".#checks.${{ steps.init.outputs.system }}.renovate"

      - name: Run checks
        run: nix flake check

      - if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        name: Save renovate check
        uses: spotdemo4/nix-nario-action/save@4fcb9e563c05dc1d258086fee3122933bdab2292 # v0.12.2
        with:
          path: ".#checks.${{ steps.init.outputs.system }}.renovate"
