name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: .
        with:
          shell: ci

      - if: ${{ steps.init.outputs.duplicate != 'true' }}
        name: Run checks
        run: nix flake check
