name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - id: init
        name: Initialize
        uses: spotdemo4/nix-init@main

      - id: cache
        name: Restore actions check
        uses: spotdemo4/nix-nario-action/restore@81c83fd8b12ffc507494b2671626093026e99a82 # v0.7.4
        with:
          path: ".#checks.${{ steps.init.outputs.system }}.actions"

      - name: Run checks
        run: nix flake check

      - if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        name: Save actions check
        uses: spotdemo4/nix-nario-action/save@81c83fd8b12ffc507494b2671626093026e99a82 # v0.7.4
        with:
          path: ".#checks.${{ steps.init.outputs.system }}.actions"
