name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - id: init
        name: Initialize
        uses: spotdemo4/nix-init@main

      - id: cache
        name: Restore renovate check
        uses: spotdemo4/nix-nario-action/restore@32a9d47068174a7ca7758720c2e8c670a9a45241 # v0.8.0
        with:
          path: ".#checks.${{ steps.init.outputs.system }}.renovate"

      - name: Run checks
        run: nix flake check

      - if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        name: Save renovate check
        uses: spotdemo4/nix-nario-action/save@32a9d47068174a7ca7758720c2e8c670a9a45241 # v0.8.0
        with:
          path: ".#checks.${{ steps.init.outputs.system }}.renovate"
