name: release

on:
  push:
    tags: ["v*"]

permissions:
  contents: write

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@1315761adf1a5a9f37d1f030953fa99db38f1e05 # v1.1.2

      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          generate_release_notes: true
