name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@4c3c9543ce79b63946e8d805d3e5d9f6959477d0 # v1.1.1
        with:
          shell: ci

      - name: Check flake
        run: flake-checker -f
