name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@eb0f706031418337984382925d608c84211e86db # v1.21.2
        with:
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f

  actions:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@eb0f706031418337984382925d608c84211e86db # v1.21.2
        with:
          shell: vulnerable

      - name: Run octoscan
        run: octoscan scan .github
