name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@448722165938617ea8b814719c33d73122390c9a # v1.2.0
        with:
          shell: ci

      - name: Check flake
        run: flake-checker -f
