name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@1315761adf1a5a9f37d1f030953fa99db38f1e05 # v1.1.2
        with:
          shell: ci

      - name: Check flake
        run: flake-checker -f
